setuptools>=42.0.2
wheel>=0.33.6
py2app==0.28.2
pyobjc==8.5
corefoundationasyncio==0.0.1
cocoa-vanilla==0.2.3
blackrenderer==0.5.2
fonttools[unicode,type1,ufo,lxml,woff]==4.34.4
# Temporarily add support for experimental extensions to the not-yet-official COLRv1 format:
# fonttools[woff,ufo,type1,unicode,lxml] @ git+https://github.com/justvanrossum/fonttools@colrv1-varco
freetype-py==2.3.0
uharfbuzz==0.26.0
python-bidi==0.4.2
jundo==0.1.2
ufo2ft==2.27.0
numpy==1.21.4  # pyup: ignore
unicodedata2==14.0.0
git+https://github.com/BlackFoundryCom/rcjk-tools/
