setuptools>=42.0.2
wheel>=0.33.6
py2app==0.28.6
pyobjc==10.0
corefoundationasyncio==0.0.1
cocoa-vanilla==0.5.0
blackrenderer==0.6.0
fonttools[ufo,woff,unicode,type1,lxml]==4.44.0
# Temporarily add support for experimental extensions to the not-yet-official COLRv1 format:
# fonttools[woff,ufo,type1,unicode,lxml] @ git+https://github.com/justvanrossum/fonttools@colrv1-varco
uharfbuzz==0.37.3
python-bidi==0.4.2
jundo==0.1.2
ufo2ft==2.33.4
numpy==1.26.2
unicodedata2==15.1.0
git+https://github.com/BlackFoundryCom/rcjk-tools/
